<div class="jumbotron">
    <h1>API Demo</h1>
    <p class="lead">This web site is a demonstration for a RESTful JSON API - click on /swagger to test it - or link to it from your own web front-end.</p>
    <p><a href="Swagger/" class="btn btn-primary btn-lg">/Swagger</a></p>
    <p><a href="/POI/1" class="btn btn-primary btn-lg">First record - use list to see all Points of Interest (POI)'s</a></p>
</div>
